

{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link href="{% static 'vendor/css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <section>
    <!--    <div class="alert alert-light text-center" role="alert">-->
    <!--        Информационное сообщение-->
    <!--    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="mt-5">U-Style</h1>
                <p>"Buy cool things for yourself and the people you love from U-Style!</p>
                <p>And don't forget about the 10 percent discount for students.</p>
                <p>Come, buy, enjoy!"</p>
                <button id="start-purchase-btn" type="button" class="btn btn-lg">
                    <a id="start-purchase-link" href="{% url 'products:index' %}">
                        To shop
                    </a>
                </button>
            </div>
        </div>
    </div>
</section>
{% endblock %}
